
/*===GENERALS===*/

body
{
    font-family: 'Josefin Sans';
    font-size: 16px;
}
/*
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}
*/
div {
    display: block;
}

.extra-bottom {
    padding-bottom: 30px;
}

.extra-top {
    padding-top: 30px;
}

.bold {
    font-weight: bold;
}

/*===NAVIAGTION BAR ===*/

.navbar-inverse .navbar-nav > li > a {
color: #fff;
padding: 15px 50px 10px 50px;
}

.navbar-inverse .navbar-nav > li > a:hover {
color: rgb(172, 172, 172);
}

.navbar-inverse {
background-color: rgba(255, 255, 255, 0.0);
border-color: rgba(255, 255, 255, 0.0);
border: 0px;
background: transparent linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0% 0%;
}

.navbar {
min-height: 44px; }

.navbar-brand {
height: 45px;
padding: 10px 15px;
}

/*===HEADER===*/

header {
background: url("../img/iceland4.jpg") no-repeat center center;
background-size: cover;
position: relative;
}

.header-intro {
padding-top: 300px;
padding-bottom:40px;
color: #fff;
}

.header-intro-title {
font-size: 28px;
line-height: 34px;
text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

.extra-top.align-left {
text-align: left;
}

.extra-top.align-center {
text-align: center;
}

@keyframes slide {
    from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
    }
    to {
    opacity:1;
    transform: none;
    }
}

.slide {
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}


.show-menu {
background-color: rgba(102,102,102,0.7);
border-color: rgba(102,102,102,0.7);
transition: all 2s ease;
margin-bottom:0;
padding-top: 0px;
}

.hide-menu {
background-color: rgba(0,0,0,0);
border-color: rgba(0,0,0,0);
transition:all 2s ease;
}

@media (max-width: 1000px) {
  .extra-top.align-center {
    text-align: left;
  }
}

/*===ABOUT=== */

#about-section {
    background: transparent url("../img/trojkaty5.png") no-repeat center right;
    background-size: 652px 800px;
    position: relative;
    height: 100%;
    z-index: 2;
    box-shadow : 0px 0px 45px 15px rgba(0,0,0,0.68);
}

#about-section .container {
padding-top: 50px;
padding-bottom: 40px;
}

.large {
font-size: 40px;
}

#about-section .row{
opacity: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#about-section h4 {
font-weight: bold;
}

#about-section .align-center{
text-align: center;
}

#about-section .col-md-4 img {
    width:263px;
    padding-top: 30px;
}



@keyframes slide-content {
    from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    }
    to {
    opacity:1;
    transform: none;
    }
}

.slide-content {
  -webkit-animation-name: slide-content;
  animation-name: slide-content;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}

.row.slide-content{
    display:block !important;
}
@media (max-width: 900px) {
  #about-section .col-md-4 img {
    display: none;
  }
}

@media (max-width: 600px) {
  #about-section .glyphicon {
    display: none;
  }

  #about-section img {
    display: none;
  }
}

/*===STATISTICS===*/

#statistics-section {
    background: url("../img/laptop1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    color: rgb(224, 224, 224);
}

#statistics-section h3 {
margin-top: 0;
}

@keyframes slide-numbers {
    from {
    opacity: 0;
    transform: translate3d(0, -0px, 0);
    }
    to {
    opacity:1;
    transform: none;
    }
}

.slide-numbers {
  -webkit-animation-name: slide-numbers;
  animation-name: slide-numbers;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}

@media (max-width: 1000px) {
  #statistics-section {
    text-align: center;
  }
}

/*===PRICES===*/

#prices-section {
padding-top: 37px;
padding-bottom: 62px;
background: transparent url("../img/trojkaty6.png") no-repeat center left;
background-size: 560px 685px;
position: relative;
height: 100%;
}

.centered {
margin-left: auto;
margin-right: auto;
text-align: center;
}

#prices-section .col-md-3 {
padding-left: 150px;
}

.border {
border: 1px solid #aaa;
display: inline;
padding: 9px;
}

#prices-section .glyphicon {
    line-height: 1.7;
    }

/*===CONTACT===*/

#contact-section {
    background: url("../img/laptop-contact.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 90px;
    color: rgb(224, 224, 224);
}

.form-horizontal .form-group {
margin-left: 0px;
margin-right: 0px;
}

.no-left-padding {
padding-left: 0;
}

.sharp-corners {
border-radius: 0;
}

textarea.form-control.extra-high {
height: 100px;
resize: none;
}

.narrower {
height: 25px;
}

.send-button {
padding: 5px 65px;
transition: box-shadow 0.5s ease;
color: white;
background: rgba(0,0,0,0.0);
}

.send-button:hover {
box-shadow: 0px 0px 5px 2px rgba(135,135,135,0.7);}

.globe {
text-align: right;
min-height: 100px;
line-height: 100px;
}

.col-md-12.name {
    font-size: 21px;
    font-weight: 700;
    padding-bottom:10px;
    padding-top: 0;
}

#fadeIn {
opacity: 0;
}

.table-phone {
display: none;
}

@media (max-width: 1000px) {
  #contact-section {
  padding: 30px;
  }

  .globe {
    display: none;  }

   .row.extra-top {
       text-align: center;
       }

   .col-md-2.col-md-push-6 {
   padding-bottom: 20px;
   }

   #prices-section .col-md-3 {
   padding-left: 50px;
}
}

@media (max-width: 700px) {

    #prices-section .large {
    font-size: 20px;
    }
    #prices-section .bold {
    font-size: 14px;
    }
}

@media (max-width: 600px) {
    .table {
    display: none;}

    .table-phone {
    display: block;
    }
    .extra-bottom {
    padding-bottom: 10px;}

    .extra-bottom .last {
    padding-bottom: 20px;
    }
    #contact-section .row .extra-bottom {
    padding-bottom: 30px;
    }
    }
