<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Tredo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400">
    <link href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/main.css">
    <link href="{{STATIC_URL}}/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>

<!--- Website code from here --->

<!--Navigation -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="{{STATIC_URL}}/img/logo.png" alt="tredo_trans">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#top">HOME</a></li>
                    <li><a href="#about-section">O MNIE</a></li>
                    <li><a href="#prices-section">CENY</a></li>
                    <li><a href="#contact-section">KONTAKT</a></li>
                </ul>
            </div>
        </div>
    </nav>


<!--Header-->

<header id="top">

    <div class="container">
        <div class="header-intro">

            <div id="header-first" class="row">
                <div class="col-md-8 col-md-offset-2 header-intro-title">
                    <div class="bold">ZUZANNA ĆWIĄKAŁA</div>
                    <div>tłumacz j. szwedzkiego</div>
                </div>
                <div class="col-xs-10 col-sm-6 col-md-4 col-md-offset-2 header-intro-title extra-bottom">
                    <hr>
                </div>
            </div>

            <div class="automatic-slider">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 extra-top align-center bold">
                                <div>
                                    Pani Zuzanna jest nie tylko świetną tłumaczką, ale także bardzo życzliwą osobą.
                                    Zupełnie bezinteresownie pomogła mi w części tłumaczenia, z którym sobie nie radziłam.
                                    Pani Zuzanno, dziękuję.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-8 extra-top align-left bold">
                                <div>
                                    Ewa
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 extra-top align-center bold">
                                <div>
                                    Bardzo profesjonalne podejście do tematu, tłumaczenie strony internetowej IEM studio
                                    projektowanie wnętrz, przemiła osoba,
                                    tłumaczenie za względu na termin publikacji zaraz na następny dzień, na pewno będę korzystać z usług Pani Zuzanny, polecam
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-8 extra-top align-left bold">
                                <div>
                                    IEM Studio
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 extra-top align-center bold">
                                <div>
                                    Pani Zuzanna współpracuje z Biurem Tłumaczeń Atominium już od dłuższego czasu. Zawsze możemy liczyć na profesjonalizm z jej strony.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-8 extra-top align-left bold">
                                <div>
                                    Biuro Tłumaczeń Atominum
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 extra-top align-center bold">
                                <div>
                                    Bardzo dobry kontakt, solidne i rzetelne tłumaczenie, zdecydowanie polecam.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-8 extra-top align-left bold">
                                <div>
                                    Klawiszedolaptopa.pl
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>

<!--About Section-->
<div id="about-section">
    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <div id="about-content1" class="row extra-bottom">
                    <div class="col-md-10">
                        <div class="col-xs-4 align-center">
                            <h4>O MNIE</h4>
                        </div>
                    </div>
                </div>
                <div id="about-content2" class="row vertical-align extra-bottom">
                    <div class="col-xs-2 col-md-2 align-center"><img src="{{STATIC_URL}}/img/flaga1.png" alt="flag_glyph"></div>
                    <div class="col-sm-8 col-md-10">Jestem native speakerem j. szwedzkiego. Od dziecka mieszkałam i uczyłam się w Szwecji,
                        co sprawia że posługuję się językiem szwedzkim w bardzo naturalny i płynny sposób.
                        Znajomość kultury i zwyczajów, sprawia że przetłumaczone przeze mnie teksty są profesjonalne i rzetelne.</div>
                </div>
                <div class="row vertical-align extra-bottom">
                    <div class="col-xs-2 col-md-2 align-center glyphicon glyphicon-wrench large align-center"></div>
                    <div class="col-sm-8 col-md-10">
                        Wyższe wykształcenie techniczne oraz praca zawodowa dają mi niezbędną wiedzę i doświadczenie do rzetelnego tłumaczenia tekstów technicznych.
                            Wykonuję tłumaczenia dokumentacji technicznych, instrukcji obsługi, kart charakterystyki i innych.
                    </div>
                </div>
                <div class="row vertical-align extra-bottom">
                    <div class="col-xs-2 col-md-2 glyphicon glyphicon-list-alt large align-center"></div>
                    <div class="col-sm-8 col-md-10">
                        Już od kilku lat tłumaczę dla osób prywatnych oraz biur tłumaczeniowych w całej Polsce.
                            W codziennej pracy zawodowej wykonuję tłumaczenia dla szwedzkich klientów.
                            Specjalizuję się w tłumaczeniach zwykłych i technicznych.
                            Oprogramowanie: Trados 2015.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="center-block" src="{{STATIC_URL}}/img/zuzanna.jpg" alt="zuzanna_photo">
            </div>
        </div>




    </div>
</div>

<!--Statistics Section -->

<div id="statistics-section">
    <div class="arrow-down"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <span class="large counter1">3581</span>
                <h3>przetłumaczonych stron</h3>
            </div>

            <div class="col-md-3">
                <span class="large counter2">49</span>
                <h3>zadowolonych klientów</h3>
            </div>

            <div class="col-md-3">
                <span class="large counter3">6</span>
                <h3>lat doświadczenia</h3>
            </div>

            <div class="col-md-3">
                <span class="large counter4">2</span>
                <h3>godziny-średni czas odpowiedzi</h3>
            </div>

        </div>
    </div>

</div>

<!--Prices-->

<div id="prices-section">

    <div class="container">

        <div class="centered">

            <div class="table">
                <div class="row extra-bottom">
                    <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
                        <div class="glyphicon glyphicon-duplicate large"></div>
                        <div class="bold">ZWYKŁE</div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <div class="glyphicon glyphicon-wrench large"></div>
                        <div class="bold">TECHNICZNE</div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <div class="glyphicon glyphicon-hourglass large"></div>
                        <div class="bold">EKSPRESOWE</div>
                    </div>
                </div>

                <div class="row extra-bottom">
                    <div class="col-xs-3 col-sm-3 col-md-3 bold">PL - SV</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">45 - 60</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">50 - 70</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">55 - 80</div>
                    <div class="col-xs-2 col-sm-2 col-md-2 last">PLN</div>
                </div>

                <div class="row extra-bottom">
                    <div class="col-xs-3 col-sm-3 col-md-3 bold">SV - PL</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">45 - 60</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">55 - 75</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">60 - 85</div>
                    <div class="col-xs-2 col-sm-2 col-md-2 last">PLN</div>
                </div>

            <div class="pricing">
                <div class="bold">
                    STAWKI NETTO ZA 1 STR. ROZLICZENIOWĄ (1 STRONA = 1800 ZNAKÓW ZE SPACJAMI)
                    <br>
                    <br>
                    SKONTAKTUJ SIĘ W CELU DOKONANIA DOKŁADNEJ WYCENY
                </div>
            </div>
            </div>



            <div class="table-phone">
                <div class="row extra-bottom">
                    <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-3">
                        <div class="glyphicon glyphicon-duplicate large"></div>
                        <div class="bold">ZWYKŁE</div>
                    </div>
                </div>
                <div class="row extra-bottom">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-3 bold">PL - SV</div>
                    <div class="col-xs-4 col-sm-2">45 - 60</div>
                    <div class="col-xs-2 col-sm-2 col-md-2 last">PLN</div>
                </div>
                <div class="row extra-bottom last">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-3 bold">SV - PL</div>
                    <div class="col-xs-4 col-sm-2">45 - 60</div>
                    <div class="col-xs-2 col-sm-2 last">PLN</div>
                </div>



                <div class="row extra-bottom">
                    <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-3">
                        <div class="glyphicon glyphicon-duplicate large"></div>
                        <div class="bold">TECHNICZNE</div>
                    </div>
                </div>
                <div class="row extra-bottom">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-3 bold">PL - SV</div>
                    <div class="col-xs-4 col-sm-2">50 - 70</div>
                    <div class="col-xs-2 col-sm-2 col-md-2 last">PLN</div>
                </div>
                <div class="row extra-bottom last">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-3 bold">SV - PL</div>
                    <div class="col-xs-4 col-sm-2">55 - 75</div>
                    <div class="col-xs-2 col-sm-2 last">PLN</div>
                </div>

                <div class="row extra-bottom">
                    <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-3">
                        <div class="glyphicon glyphicon-duplicate large"></div>
                        <div class="bold">EKSPRESOWE</div>
                    </div>
                </div>
                <div class="row extra-bottom">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-3 bold">PL - SV</div>
                    <div class="col-xs-4 col-sm-2">55 - 80</div>
                    <div class="col-xs-2 col-sm-2 col-md-2 last">PLN</div>
                </div>
                <div class="row extra-bottom last">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-3 bold">SV - PL</div>
                    <div class="col-xs-4 col-sm-2">60 - 85</div>
                    <div class="col-xs-2 col-sm-2 last">PLN</div>
                </div>

            <div class="pricing">
                <div class="bold">
                    STAWKI NETTO ZA 1 STR. ROZLICZENIOWĄ (1 STRONA = 1800 ZNAKÓW ZE SPACJAMI)
                    <br>
                    <br>
                    SKONTAKTUJ SIĘ W CELU DOKONANIA DOKŁADNEJ WYCENY
                </div>
            </div>
        </div>
    </div>

</div>

<!--Contact-->
<div id="contact-section">

    <div class="container">

        <div class="row centered title extra-bottom">
            <div class="col-md-8 col-md-offset-2">
                <h4>KONTAKT</h4>
            </div>
        </div>

        <div class="row extra-top">
            <div id="fadeIn">
                <div class="col-md-2 col-md-push-6 glyphicon glyphicon-globe large globe"></div>
            </div>

            <div class="col-md-2 col-md-push-6">
                <div class="row">
                    <div class="col-md-12 name">Zuzanna ĆWIĄKAŁA</div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-12"><p>zuzanna.cwiakala@gmail.com<br>+48 725 888 121</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><p>Księżycowa 5b/5<br>81-821 Sopot</p></div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-md-pull-4">
                <form name="email_form" id="email_form" class="form-horizontal" method="post" action="/tredo/#contact-section">
                    {% csrf_token %}
                    <div class="row nobottom">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control sharp-corners narrower"
                                       id="name" name="name"
                                       placeholder="Imię i nazwisko..."
                                       maxlength="40"
                                       required
                                       oninvalid="this.setCustomValidity('Proszę wpisać swoje Imię i Nazwisko')"
                                       oninput="setCustomValidity('')">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="required form-control sharp-corners narrower"
                                       id="email"
                                       name="email"
                                       placeholder="E-mail..."
                                       maxlength="40"
                                       required
                                       oninvalid="this.setCustomValidity('Proszę wpisać swój Email')"
                                       oninput="setCustomValidity('')">
                            </div>
                        </div>
                    </div>
                    <div class="row extra-bottom">
                        <div class="col-md-12">
                            <textarea type="text" class="form-control sharp-corners extra-high"
                                      id="message"
                                      name="message"
                                      placeholder="Napisz wiadomość..."
                                      maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="row pulseit">
                        <div class="col-md-12 centered">
                            <button type="submit" class="border send-button">
                                WYŚLIJ
                            </button>
                        </div>
                    </div>
                </form>
            </div>



        </div>
        <div clas="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <br>
                <br>
                <hr>
            </div>
        </div>
    </div>

</div>

<!--- To here --->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{STATIC_URL}}/js/counterup.js"></script>
<script src="{{STATIC_URL}}/js/application.js"></script>
<script src="{{STATIC_URL}}/js/animateNumber.js"></script>
<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
<script src="{{STATIC_URL}}/js/unslider.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}/css/unslider.css">
<link rel="stylesheet" href="{{STATIC_URL}}/css/animate.css">

</body>
</html>


